<tr id="<%= dom_id(team) %>">
  <th scope="row">
    <div class="text-base font-semibold"><%= team.name %></div>
  </th>
  <td>
    <%= link_to "Show", team_path(team), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
  </td>
</tr>