<tr id="<%= dom_id(user) %>">
  <th scope="row">
    <%= render UserWithEmail.new(organization_user: user) %>
  </th>
  <td>
    <%= render partial: "users/online_status", locals: { current_organization: current_organization, user: user } %>
  </td>
</tr>