/* Adds border and shadow to editor */
.bn-container .bn-editor {
    color: rgb(30 41 59);
}

.bn-container .bn-editor code {
    background-color: rgb(241 245 249);
    border: 1px solid rgb(203 213 225);
    border-radius: 4px;
    color: rgb(51 65 85);
    padding: 0 3px;
}

.ikigai-side-menu-overrides .mantine-Button-inner,
.ikigai-side-menu-overrides .mantine-UnstyledButton-root:not(.mantine-Menu-item) svg
{
    color: var(--bn-colors-menu-text);
    font-weight: 400;
}

.ikigai-side-menu-overrides .mantine-Button-inner:before
{
    content: "Block type:";
    margin-left: 2px;
    margin-right: 8px;
}
