/* Read more about styling BlockNote at https://www.blocknotejs.org/docs/styling-theming/themes */
.bn-container[data-color-scheme] {
    --bn-border-radius: 0;
    --bn-colors-editor-background: transparent;
}

/* Simple `code` block */
.bn-container .bn-editor .bn-inline-content code {
    background-color: rgb(241 245 249);
    border: 1px solid rgb(203 213 225);
    border-radius: 4px;
    color: rgb(51 65 85);
    padding: 0 3px;
}

/* uncomment this to make the selected block outline hidden */
/*
.ProseMirror-selectednode > .bn-block-content > *,
.bn-block-content.ProseMirror-selectednode > * {
    outline: none !important;
}
*/
