# Defines public hostname (used to create full links)
HTTP_HOST=localhost:3000

# If false mails will be sent via mailtrap.io
LETTER_OPENER=true

# Use the age key created by bin/setup
SOPS_AGE_KEY_FILE=dockerfiles/sops-age-key.secret