# Defines public hostname (used to create full links)
HTTP_HOST=localhost:3000

# Formula evaluation micro-service separate node process
FORMULA_EVAL_MICROSERVICE_URL=http://localhost:3000/formulas/eval
