<% if !Flipper.enabled?(:standalone) %>
  <div class="w-full grid grid-cols-1 md:grid-cols-10 md:gap-8 md:px-8">
    <div class="max-w-screen-md md:col-start-2 md:col-span-5">
      <%= render "devise/registrations/form", resource: resource, resource_name: resource_name %>
    </div>

    <div class="md:col-start-7 md:col-span-3">
      <hr class="mt-4 md:hidden">
      <section class="form-section w-full p-0">
        <a href="https://fundamento.it/self-hosted-trial" class="py-8 px-4 font-semibold md:shadow md:mt-8 text-sm rounded flex flex-row items-center gap-2">
          <span class="min-w-6 size-6 icon-[heroicons--server-stack]"></span>
          Want to host Fundamento on your own server? Start a self-hosted trial
          <span class="ml-auto min-w-6 size-6 icon-[heroicons--arrow-right]"></span>
        </a>
      </section>
    </div>
  </div>
<% else %>
  <div class="w-full flex flex-col items-center">
    <div class="max-w-screen-md w-full">
      <%= render "devise/registrations/form", resource: resource, resource_name: resource_name %>
    </div>
  </div>
<% end %>
