<%= turbo_frame_tag "object_comments" do %>
  <%= turbo_stream_from ["object_comments", @resource] %>

  <div class="flex flex-col gap-3">
    <% @comments.each do |comment| %>
      <%= render partial: "comment", locals: { comment: comment, resource: @resource, space: @resource.space } %>
    <% end %>
  </div>
<% end %>