<div class="relative inline-block">
  <div
    class="w-8 h-8 bg-blue-500 rounded-full flex items-center justify-center text-white font-bold"
  >
    <%= @organization_user.initials %>
  </div>
  <span class="absolute bottom-0 right-0 block size-4 rounded-full bg-green-400 ring-2 ring-white"></span>
</div>