<% (node || []).each do |item| %>
  <li data-controller="collapsible" data-space-id="<%= @space.id %>" data-collapsible-collapsed-value="true">
    <%= render partial: "application/left_side_bar/document_link", locals: { document_id: item["id"], level: level, has_children: item["children"].length > 0 } %>
    <ul data-collapsible-target="collapsible" data-draggable-target="item" data-document-id="<%= item["id"] %>" class="overflow-hidden max-h-0">
      <%= render partial: "application/left_side_bar/hierarchy_node", locals: { node: item["children"], level: level + 1 } %>
    </ul>
  </li>
<% end %>
