.ikigai-rowstack-overrides .rs-table {
    overflow: visible;

    & > div:nth-of-type(2) {
        border-right-width: 1px;
        border-left-width: 1px;
        border-bottom-width: 1px;
    }
}

.bn-default-styles .ikigai-rowstack-overrides li {
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}