<tr id="<%= dom_id(space) %>">
  <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
    <div class="text-base font-semibold"><%= space.name %></div>
  </th>
  <td>
    <% if policy(space).update? %>
      <%= link_to "Edit", edit_space_path(space), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
    <% end %>

    <%= link_to "Open", space_path(space), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
  </td>
</tr>