<%= turbo_stream_from ["spaces_list", current_user] %>

<% content_for :focused_header do %>
  Spaces
<% end %>

<% content_for :focused_header_buttons do %>
  <% if policy(Space).create? %>
    <div class="mt-4 flex md:ml-4 md:mt-0">
      <%= link_to 'Create', new_space_path, class: "secondary-button" %>
    </div>
  <% end %>
<% end %>

<% content_for :focused_content do %>
  <div class="table-legend">
    <div class="table-legend-description">
      <p>A list of all spaces in your organization that are visible to you.</p>
    </div>
  </div>

  <table class="table-list">
    <thead>
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Action
        </th>
      </tr>
    </thead>
    <tbody id="organizations">
      <% @spaces.each do |space| %>
        <%= render partial: space %>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= render "focused_section" %>