<div class="h-[calc(100vh-56px)] grid grid-cols-[minmax(10px,300px)_minmax(10px,_3fr)]">
  <aside class="bg-white border-r overflow-auto">
    <div class="p-4 flex flex-col">
      <div class="mx-4 pb-4 font-bold">Documents</div>
      <% @space.hierarchy&.map do |documentId| %>
        <% document = @documents.find { |document| document.id == documentId } %>
        <% if document.present? %>
          <%= link_to edit_space_document_path(@space, document) do %>
            <div class="text-left m-x-2 p-2 hover:bg-gray-100 active:bg-gray-200">
              <%= document.title.presence || "Untitled" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </aside>
  <article>
    Test<br>
    Main Article
  </article>
</div>
