<%= link_to edit_path,
  class: "absolute right-8 top-1 rounded-md size-7 p-1 #{ selected ? "hover:bg-blue-300 active:bg-blue-400" : "hover:bg-gray-200 active:bg-gray-300"}" do %>
  <div class="group-hover/table-item-link:opacity-30 opacity-0 transition-opacity duration-300 bg-gray-950 size-5 icon-[heroicons--pencil]"></div>
<% end %>
