<div class="h-[calc(100vh-56px)] grid grid-cols-[minmax(10px,300px)_minmax(10px,_3fr)]">
  <%= render 'application/left_side_bar' %>
  <article>
    <%= react_component "EditDocumentPage", {document: @document.attributes.except("sync")} %>
  </article>
</div>
