<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<% content_for :content_menu do %>
  <div id="editor-connection-indicator"></div>
  <div id="editor-autosave-status"></div>

  <% if @document.versions.present? %>
    <%= link_to document_path(@document),
      class: "link-button" do %>
      <i class="fa-regular fa-turn-left"></i>
    <% end %>
  <% end %>

  <div data-controller="popover" class="relative">
    <%= button_to document_versions_path(@document), method: :create,
      params: { content_blocks: "" },
      onclick: "handleUpdateButton(event)",
      class: "document-toolbar-button update-button",
      form: { data: { action: "mouseenter->popover#show mouseleave->popover#hide" } },
      aria: { label: "Save document" } do
    %>
      <i class="fa-regular fa-floppy-disk"></i>
    <% end %>

    <template data-popover-target="content">
      <div data-popover-target="card" class="popover-tooltip-card m-1">
        <p>Update <code>CMD+Enter</code> or <code>CTRL+Enter</code></p>
      </div>
    </template>
  </div>

  <script type="text/javascript">
      window.handleUpdateButton = async (e) => {
          e.currentTarget.form.elements['content_blocks'].value = JSON.stringify(window.blockNoteEditor?.document);
      }
  </script>

  <% add_palette_command id: "update",
    title: "Update the document",
    section: "Actions",
    hotkey: "CMD+Enter, CTRL+Enter",
    handler: "document.querySelector('.update-button').click()",
    icon: '<svg xmlns="http://www.w3.org/2000/svg" class="ninja-icon" width="24" height="24" viewBox="0 0 448 512"><path d="M48 96l0 320c0 8.8 7.2 16 16 16l320 0c8.8 0 16-7.2 16-16l0-245.5c0-4.2-1.7-8.3-4.7-11.3l33.9-33.9c12 12 18.7 28.3 18.7 45.3L448 416c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96C0 60.7 28.7 32 64 32l245.5 0c17 0 33.3 6.7 45.3 18.7l74.5 74.5-33.9 33.9L320.8 84.7c-.3-.3-.5-.5-.8-.8L320 184c0 13.3-10.7 24-24 24l-192 0c-13.3 0-24-10.7-24-24L80 80 64 80c-8.8 0-16 7.2-16 16zm80-16l0 80 144 0 0-80L128 80zm32 240a64 64 0 1 1 128 0 64 64 0 1 1 -128 0z"/></svg>'
  %>

  <%= render partial: "content/document_menu", locals: { space: @space, content: @document } %>
<% end %>

<article class="document document-editable">
  <%= react_component "EditDocumentPanel", {
    document: @document.to_react_props,
    space: @space.to_react_props,
    current_user: current_user,
    database_id: database_id,
    features: enabled_feature_names
  } %>
</article>
