<%= turbo_frame_tag "document_hierarchy" do %>
  <% if @children.present? %>
  <div class="flex flex-row flex-wrap gap-3 content-editor-padding mb-5">
    <% @children.each do |child| %>
      <%= link_to document_path(child), class: "rounded-md border p-1 px-2 max-w-[10em] truncate" do %>
        <%= render ObjectIcon.new(object: child) %>
        <%= child.try(:title_emojiless) || child.try(:title) %>
      <% end %>
    <% end %>
  </div>
  <% end %>
<% end %>