<div class="h-full grid grid-cols-[minmax(10px,300px)_minmax(10px,_3fr)_minmax(10px,400px)]">
  <%= render 'application/left_side_bar_for_database' %>

  <article class="bg-white flex-col overflow-auto">
    <div class="bg-white h-12 flex justify-end items-center p-2">
      link
    </div>

    <div class="bg-white overflow-auto">
      main content
    </div>
  </article>
  <aside class="bg-white overflow-auto border-l">
    <h1 class="p-2 my-2 text-2xl text-slate-800">
      right side bar content
    </h1>
  </aside>
</div>
