<%= turbo_frame_tag :details_sidebar_tab do %>
  <ul role="list" class="divide-y divide-gray-100 px-3">
    <%= render "shared/timestamp_field", label: "Created at", datetime: @table.created_at %>
    <%= render "shared/timestamp_field", label: "Updated at", datetime: @table.updated_at %>

    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex-auto min-w-0 gap-x-4">
        <p class="text-sm/6 font-semibold text-gray-900 dark:text-gray-100">Tags</p>
      </div>
      <div class="flex flex-col sm:items-end">
        <%= render Object::SidebarTags.new(object: @table) %>
      </div>
    </li>
  </ul>
<% end %>
