<tr id="<%= dom_id(pack) %>">
  <th scope="row">
    <div class="text-base font-semibold"><%= pack.name %></div>
  </th>
  <td>
    <%= link_to "Show", pack_path(pack), class: "link-button" %>
  </td>
</tr>