<%= turbo_stream_from ["mentions_list", current_organization] %>
<!--todo:-->
<%#= turbo_stream_from [pundit_user.organization_user, "mentions"] %>

<div id="mentions_container">

  <%= javascript_tag do %>
    (function() {
      if (window.mentionsReadIntervalId === undefined)
      window.mentionsReadIntervalId = setInterval(function() {
        if (document.hasFocus()) {
          fetch("/users/myself/user_properties/last_mention_seen_at", {
            method: "PUT",
            headers: {
              "X-CSRF-Token": document.querySelector("[name='csrf-token']").content,
              "Content-Type": "application/json"
            },
            body: JSON.stringify(new Date())
          });
          clearInterval(window.mentionsReadIntervalId);
          window.mentionsReadIntervalId = undefined;
        }
      }, 1000);
    })();
  <% end %>

  <% separator_index = @last_mention_seen_at.nil? ? 0 : @mentions.index { |m| m[:version].created_at < @last_mention_seen_at } %>

  <div id="mentions_list">
    <% @mentions.each_with_index do |mention, index| %>
      <% if index != 0 && index == separator_index %>
        <div class="flex flex-row-reverse items-center w-full h-px bg-red-600">
          <span class="uppercase text-xs font-bold text-white bg-red-600 px-1 rounded-ee-md rounded-se-md">new</span>
          <span class="w-0 h-0 border-t-[0.5rem] border-t-transparent border-r-[0.5rem] border-r-red-600 border-b-[0.5rem] border-b-transparent"></span>
        </div>
      <% end %>
      <%= render partial: "mentions/mention", locals: { mention: mention } %>
    <% end %>
  </div>

  <% if @mentions.empty? %>
    <div class="flex items-center justify-start p-5">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-12 h-12 text-gray-500 mr-4">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4m-2 0V6a2 2 0 00-2-2h-4a2 2 0 00-2 2v4h4m6 0a2 2 0 11-2 2 2 2 0 012-2z"></path>
      </svg>
      <div>
        <h2 class="text-gray-600 text-2xl">No mentions</h2>
        <p class="text-gray-500">You are not mentioned in any document yet.</p>
      </div>
    </div>
  <% end %>
</div>
