<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<% content_for :content_menu do %>
  <span>Each change is saved automatically</span>

  <%= render partial: "content/document_menu", locals: { space: @table.space, content: @table } %>
<% end %>

<article class="document">
  <%= react_component "EditTablePanel", {
    table: @table,
    space: @table.space.to_react_props
  }, {
    data: @table.data_to_json(evaluate_formulas: true)
  } %>
</article>
