@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .editor-container a {
        text-decoration: underline;
        cursor: pointer;

        @apply text-sky-500
    }
}

@layer components {
    .form-section {
        @apply dark:bg-gray-800 bg-white max-w-4xl mt-8 p-6 md:rounded-md md:shadow-md md:w-2/3 md:mx-auto lg:w-1/2;
    }

    .form-submit {
        @apply px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600;
    }

    .form-input {
        @apply block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full;
    }

    .form-field {
        @apply my-5;
    }

    .form-header {
        @apply text-lg font-semibold text-gray-700 capitalize dark:text-white;
    }

    .focused-section {
        @apply form-section;
        @apply relative overflow-x-auto;
    }

    .secondary-button {
        @apply inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
    }

    .first-button-group {
        @apply relative inline-flex items-center rounded-l-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10;
    }

    .dropdown-menu-item {
        @apply block px-4 py-2 text-sm text-gray-700;
    }

    .btn {
        display: inline-block;
        outline: 0;
        cursor: pointer;
        border: 1px solid #1d1c1d4d;
        font-weight: 700;
        background: #fff;
        padding: 0 8px 1px;
        /*font-size: 13px;*/
        border-radius: 4px;
        color: rgb(29, 28, 29);
        height: 28px;
        min-width: 56px;
        transition: all 80ms linear;
        :hover {
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
            background: rgba(248, 248, 248, 1);
        }
    }

    .document-toolbar-button {
        /*@apply ml-2 text-blue-600 dark:text-blue-500 hover:underline;*/
        /*@apply ml-2 px-2.5 py-1 bg-blue-500 text-white text-sm rounded;*/
        @apply secondary-button ml-2 text-sm;
    }

    .link-button {
        @apply font-medium text-blue-600 dark:text-blue-500 hover:underline
    }
}