@import "./table-list.tailwind.css";
@import "./tabs.tailwind.css";
@import "./dropdown.tailwind.css";
@import "./sidebar.tailwind.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .editor-container a {
        text-decoration: underline;
        cursor: pointer;

        @apply text-sky-500
    }

    .document {
        @apply flex-col overflow-auto;
    }

    .document-title {
        @apply pl-[3.4rem] h-12 border-0 focus:[box-shadow:none] border-0 w-full resize-none text-4xl;
        @apply bg-transparent;
    }

    .content {
        @apply text-black dark:text-white;
        @apply bg-white dark:bg-gray-800;
    }
}

@layer components {
    body {
        @apply content;
        @apply md:bg-gray-100;
        @apply dark:md:bg-gray-900;
        @apply antialiased;
    }

    label {
        @apply dark:text-white;
    }

    .top-nav-bar {
        @apply bg-white border-gray-200;
        @apply dark:border-gray-500 dark:bg-gray-700;
        @apply border-y-2 px-2 py-2.5;
    }

    .form-section {
        @apply dark:bg-gray-800 bg-white max-w-4xl p-6 md:mt-8 md:rounded-md md:shadow-md md:w-2/3 md:mx-auto lg:w-1/2;
    }

    .form-footer {
        @apply flex justify-end mt-6 gap-2;
    }

    .button {
        @apply px-6 py-2 leading-5 rounded-md font-semibold inline-flex items-center text-sm ;
    }

    .form-submit {
        @apply button;
        @apply text-white bg-gray-700 hover:enabled:bg-gray-600 focus:bg-gray-600;
        @apply dark:bg-gray-500 dark:hover:enabled:bg-gray-400 dark:focus:bg-gray-400;
        @apply transition-colors duration-200 transform focus:outline-none;
    }

    .form-input {
        @apply block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full;
        @apply dark:bg-gray-700;
    }

    .form-field {
        @apply my-5;
    }

    .form-header {
        @apply text-lg font-semibold text-gray-700 capitalize dark:text-white;
    }

    .focused-section {
        @apply form-section;
        @apply relative overflow-x-auto;
    }

    .secondary-button {
        @apply button;
        @apply bg-white text-gray-900 hover:bg-gray-100;
        @apply dark:bg-gray-700 dark:text-gray-100 dark:hover:bg-gray-600 dark:hover:bg-gray-600;
        @apply shadow-sm ring-1 ring-inset ring-gray-300;
        @apply dark:ring-0;
    }

    button:disabled,
    input:disabled,
    .disabled-button {
        @apply cursor-not-allowed;
    }

    button:disabled:not(.link-button),
    input:disabled,
    .disabled-button {
        @apply bg-slate-950/5 text-slate-950/40;
        @apply focus-visible:outline-none;
    }

    .first-button-group {
        @apply relative inline-flex items-center rounded-l-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10;
    }

    .document-toolbar-button {
        /*@apply ml-2 text-blue-600 dark:text-blue-500 hover:underline;*/
        /*@apply ml-2 px-2.5 py-1 bg-blue-500 text-white text-sm rounded;*/
        @apply secondary-button ml-2 text-sm;
    }

    .primary-button {
        @apply secondary-button;
        @apply bg-orange-400 text-slate-900 hover:bg-orange-300 hover:text-slate-800;
        @apply dark:bg-orange-300 dark:text-slate-100 dark:hover:bg-orange-400 dark:hover:text-slate-200;
    }

    button:disabled:not(.link-button).primary-button,
    input:disabled.primary-button {
        @apply bg-orange-400/40 text-slate-950/40;
    }

    .link-button {
        @apply font-medium text-blue-600 dark:text-blue-500;
    }

    .link-button:not(:disabled) {
        @apply hover:underline
    }

    .link-button:disabled {
        @apply text-neutral-400;
    }
}