@layer base {
    .content-container {
        @apply text-black dark:text-white;
        @apply bg-white dark:bg-gray-800;
    }
}

@layer components {
    /* This class is used to match BlockNote's content padding so all editors look similarly, see .bn-editor for current value of the padding */
    .content-editor-padding {
        padding-inline: 54px;
    }

    /* EditableContentTitle component styles */
    .editable-content-title {
        @apply text-base font-semibold truncate;

        &.editable {
            @apply cursor-pointer rounded px-1;
            @apply hover:bg-gray-100 dark:hover:bg-gray-700;
            @apply transition-colors duration-150;
        }

        input {
            @apply text-base font-semibold w-full bg-transparent border-0 p-0 px-1;
            @apply focus:outline-none focus:ring-0 focus:[box-shadow:none];
            min-width: 200px;
            max-width: 400px;
        }
    }

    /* AdvancedTableTitle component styles */
    .advanced-table-title {
        @apply text-xl font-bold min-h-0 max-h-6 p-0;

        &.editable {
            @apply cursor-pointer rounded px-1;
            @apply hover:bg-gray-100 dark:hover:bg-gray-700;
            @apply transition-colors duration-150;
        }

        input {
            @apply text-xl font-bold w-full bg-transparent border-0 p-0;
            @apply focus:outline-none focus:ring-0 focus:[box-shadow:none];
        }
    }

    .rounded-button {
        @apply secondary-button ml-2 text-sm;
        @apply size-8 rounded-full ring-0 hover:ring-1 p-0;
        @apply flex items-center justify-center;
    }

    .document-toolbar-button {
        /*@apply ml-2 text-blue-600 dark:text-blue-500 hover:underline;*/
        /*@apply ml-2 px-2.5 py-1 bg-blue-500 text-white text-sm rounded;*/
        @apply secondary-button ml-2 text-sm;
        @apply size-8 rounded-full p-0;
        @apply flex items-center justify-center;
    }
}
