@layer base {
    .editor-container a {
        text-decoration: underline;
        cursor: pointer;

        @apply text-sky-500
    }

    .editor-container .read-only {
        .bn-editor {
            padding-inline: 0;
            @apply p-5;
        }
    }

    .document {
        @apply flex-col overflow-auto;
    }

    .full-width-container {
        @apply text-black dark:text-white;
        @apply bg-white dark:bg-gray-800;
    }
}

@layer components {
    /* This class is used to match BlockNote's content padding so all editors look similarly, see .bn-editor for current value of the padding */
    .content-editor-padding {
        padding-inline: 54px;
    }

    .content-title {
        @apply min-h-12 mt-1 mb-1 border-0 focus:[box-shadow:none] border-0 w-full resize-none text-4xl text-slate-800;
    }

    .content-title-input {
        @apply content-title h-12 p-0;
        @apply bg-transparent;
    }

    .document-toolbar-button {
        /*@apply ml-2 text-blue-600 dark:text-blue-500 hover:underline;*/
        /*@apply ml-2 px-2.5 py-1 bg-blue-500 text-white text-sm rounded;*/
        @apply secondary-button ml-2 text-sm;
    }
}
