<tr id="<%= dom_id(organization) %>">
  <th scope="row">
    <div class="text-base font-semibold"><%= organization.name %></div>
  </th>
  <td>
    <%= button_to "Switch to", select_organization_path(organization), method: :post, class: "link-button" %>

    <%= link_to "Show", organization_path(organization), class: "link-button" %>
  </td>
</tr>