<%= turbo_stream_from ["organizations_list", current_user] %>

<% content_for :focused_header do %>
  Organizations
<% end %>

<% content_for :focused_header_buttons do %>
  <% if policy(Organization).create? %>
    <div class="mt-4 flex md:ml-4 md:mt-0">
      <%= link_to 'Create', new_organization_path, class: "secondary-button" %>
    </div>
  <% end %>
<% end %>

<% content_for :focused_content do %>
  <div class="sm:flex sm:items-center p-5">
    <div class="sm:flex-auto">
      <p class="mt-2 text-sm text-gray-700">A list of all organizations you belong to.</p>
    </div>
  </div>

  <table class="table-list">
    <thead>
      <tr>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          Action
        </th>
      </tr>
    </thead>
    <tbody id="organizations">
      <% @organizations.each do |organization| %>
        <%= render partial: organization %>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= render "focused_section" %>