<button
  id="document_share_button"
  data-action="dropdown#toggle:stop"
  class="document-toolbar-button"
  aria-expanded="true"
  aria-haspopup="true"
>
  <% if public_link_exists %>
    <i class="fa-solid fa-earth-americas"></i>
  <% else %>
    <i class="fa-solid fa-arrow-up-from-bracket"></i>
  <% end %>
</button>