<% content_for :focused_content do %>
  <div class="bg-white overflow-auto">
    <%= react_component "PublicDocumentViewer", {
      document: document.attributes.except("sync"),
      version: version.attributes.except("id"),
      space: document.space.to_react_props
    }
    %>
  </div>
<% end %>

<%= render partial: "focused_section" %>