<% content_for :focused_header do %>
  <%= document.title %>
<% end %>

<% content_for :focused_content do %>
  <div class="bg-white overflow-auto">
    <%= react_component "PublicDocumentViewer", {document: document, space: document.space} %>
  </div>
<% end %>

<%= render partial: "focused_section" %>