<% content_for :focused_content do %>
  <div class="bg-white dark:!bg-gray-800 overflow-auto">
    <%= react_component "PublicDocumentViewer", {
      document: document.to_react_props,
      version: version.attributes.except("id"),
      space: document.space.to_react_props
    }
    %>
  </div>
<% end %>

<%= render partial: "focused_section" %>