<div data-controller="livechat"
     data-livechat-site-id-value="<%= Rails.application.credentials.livechat.tawk_site_id %>"
     <% if current_user.present? %>
     data-livechat-user-name-value="<%= current_user.display_name %>"
     data-livechat-user-email-value="<%= current_user.email %>"
     data-livechat-user-hash-value="<%= OpenSSL::HMAC.hexdigest("sha256", Rails.application.credentials.livechat.tawk_api_key, current_user.email) %>"
     <% end %>
     style="display:none">
</div>
