<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
  <tbody>
  <tr>
    <td style="font-size:0;line-height:0;mso-line-height-rule:exactly;background-color:#F9F9F9;background-image:none;background-repeat:repeat;background-size:auto;background-position:center top;" valign="top" align="center">
      <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" id="innerTable">
        <tbody>
        <tr>
          <td>
            <div style="mso-line-height-rule:exactly;mso-line-height-alt:70px;line-height:70px;font-size:1px;display:block;">&nbsp;&nbsp;</div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <table role="presentation" cellpadding="0" cellspacing="0" style="Margin-left:auto;Margin-right:auto;">
              <tbody>
              <tr>
                <td style="background-color:#FFFFFF;border:1px solid #CECECE;overflow:hidden;width:480px;border-radius:20px 20px 20px 20px;">
                  <table role="presentation" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                    <tbody>
                    <tr>
                      <td style="padding:50px 40px 40px 40px;">
                        <table role="presentation" width="100%" cellpadding="0" cellspacing="0" style="width:100% !important;">
                          <tbody>
                          <tr>
                            <td align="center">
                              <table role="presentation" cellpadding="0" cellspacing="0" style="Margin-left:auto;Margin-right:auto;">
                                <tbody>
                                <tr>
                                  <td style="width:60px;">
                                    <table role="presentation" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                      <tbody>
                                      <tr>
                                        <td>
                                          <img alt="Fundamento Logo" loading="lazy" height="64" style="color:transparent" src="<%= attachments["logo.png"].url %>">
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div style="mso-line-height-rule:exactly;mso-line-height-alt:40px;line-height:40px;font-size:1px;display:block;">&nbsp;&nbsp;</div>
                            </td>
                          </tr>

                          <%= yield %>

                          <tr>
                            <td>
                              <div style="mso-line-height-rule:exactly;mso-line-height-alt:30px;line-height:30px;font-size:1px;display:block;">&nbsp;&nbsp;</div>
                            </td>
                          </tr>
                          <tr>
                            <td align="center">
                              <table role="presentation" cellpadding="0" cellspacing="0" style="Margin-left:auto;Margin-right:auto;">
                                <tbody>
                                <tr>
                                  <td style="background-color:#F2EFF3;overflow:hidden;width:398px;border-radius:8px 8px 8px 8px;">
                                    <table role="presentation" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                      <tbody>
                                      <tr>
                                        <td style="padding:20px 30px 20px 30px;">
                                          <p style="margin:0;Margin:0;font-family:Albert Sans,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:18px;font-weight:500;font-style:normal;font-size:12px;text-transform:none;direction:ltr;color:#84828E;text-align:center;mso-line-height-rule:exactly;mso-text-raise:2px;">
                                            P.S. Need help getting started? Check out our <a target=_blank" style="color: #0e87bc; text-decoration: underline" href="https://docs.fundamento.it">help documentation</a>.
                                          </p></td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <table role="presentation" cellpadding="0" cellspacing="0" style="Margin-left:auto;Margin-right:auto;">
            <tbody>
            <tr>
              <td style="width:398px;">
                <table role="presentation" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                  <tbody>
                  <tr>
                    <td>
                      <p style="margin:0;Margin:0;margin-top: 40px; margin-bottom: 40px; font-family:Inter,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:20px;font-weight:500;font-style:normal;font-size:13px;text-decoration:none;text-transform:none;letter-spacing:-0.6px;direction:ltr;color:#aaa;text-align:center;mso-line-height-rule:exactly;mso-text-raise:2px;">
                        © 2025 <a style="color:#aaa" href="https://fundamento.it">Fundamento</a>. All Rights Reserved.
                      </p>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </tr>
        <tr>
          <td>
            <div style="mso-line-height-rule:exactly;mso-line-height-alt:70px;line-height:70px;font-size:1px;display:block;">&nbsp;&nbsp;</div>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>