<%= render "layouts/body_with_nav_bar" do %>
  <%= render partial: "flash_messages_as_alerts" %>

  <%= turbo_frame_tag "modal" %>

  <div class="h-[calc(100vh-60px)]">
    <%= yield %>
  </div>
<% end %>
