<%# Rendered when navigating to a full-width page (empty space, document history)
    via the content Turbo Frame. Returns just the content column. %>

<%= turbo_frame_tag "content", class: "contents" do %>
  <div class="h-screen overflow-y-auto content-container">
    <nav class="w-full flex justify-end p-3 gap-1 items-center">
      <%= content_for :content_menu %>
    </nav>

    <%= yield %>
  </div>
<% end %>
