<%= render "layouts/body_with_nav_bar" do %>
  <%= turbo_frame_tag "modal" %>

  <div class="h-[calc(100vh-60px)] content">
    <%= yield %>
  </div>

  <div id="flashes" class="fixed top-0 w-full flex flex-col items-end pointer-events-none">
    <%= render partial: "flash_messages_as_alerts" %>
  </div>
<% end %>
